replicaCount: 2

image:
  registry: docker.io
  repository: bitnami/nginx
  tag: 1.25.3

service:
  type: LoadBalancer
  port: 80

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
